attrs==25.3.0
black==25.1.0
cdisc-library-client==0.1.6
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
dotenv==0.9.9
flake8==7.3.0
idna==3.10
jsonata-python==0.6.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.1.1
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.0
saxonche==12.8.0
urllib3==2.5.0
